/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.white background {
  font: #ffffff;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.tab-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

/* Create information to help overlay the middle column with appropriate graphics (circles and words) */
.columnmiddle {
  float:left;
  width: 50%;
  padding: 10px 10px 0px 10px;
} /* Top/Right/Bottom/Left Padding */


.columnmiddle2 {
  float:left;
  width: 80%;
  padding: 10px 15px 0px 15px;
}

.protien {
float:center;
top: 150px;
left:350px;
}

.carbs {
  float:center;
  top: 150px;
  left:500px;
}

.calories {
  float:center;
  top: 350px;
  left:600px;
}

.fat {
float:center;
top: 350px;
left:300px;
}

.sugar {
  float:center;
  top: 350px;
  left:500px;
}

nutritionTable {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

.nutritionDataRow {
 text-align: left;
padding: 8px;
 border: none !important;
}

.bigger {
 font-size: 200%;
}

.labelsize {
 font-size: 120%;
}
